body {
  background-color: #f0f8ff;
  text-align: center;
  font-family: Arial;

  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  color: blue;
}

p {
  color: green;
}

button {
  padding: 10px 20px;
  background-color: orange;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
